{% extends "base.html.twig" %}

{% block titulo_head %}Index{% endblock %}

{% block cabecera %}
	<h1>{% block cabecera_Titulo %}Index{% endblock %}</h1>
{% endblock %}

{% block contenedor %}
	<ul>
		<li><a href="{{ path("app_calculadora_index") }}">Calculadora</a></li>
		<li><a href="{{ path('app_calculadoraRacional_index') }}">Calculadora Racional (⅟)</a></li>
		<li><a href="{{ path("app_usuario_index") }}">🛠 Usuarios 🛠</a></li>
	</ul>
{% endblock %}
