<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block titulo_head %}{% endblock %}</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		
		<!-- JQuery -->
		<script type="text/javascript" src="{{ asset("Resources/js/JQuery.js") }}"></script>
		
		
		<!-- Bootstrap -->
		{% block addBootstrap %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		{% endblock %}
		
		<!-- CSS -->
		{% block estilos_Practica %}
			<link rel="stylesheet" type="text/css" href="{{ asset("Resources/css/base.css") }}"/>
		{% endblock %}
	</head>
	<body>
		<div id="cabecera" class="todo">
			{% block cabecera %}
				<h1>{% block cabecera_Titulo %}{% endblock %}{% block cabecera_Titulo_RutaExtra %}{{ random(arrayFlechas) }}{% endblock %}</h1>
			{% endblock %}
		</div>
		
		<div id="contenedor" class="todo">
			{% block contenedor %}
				{% block html_mostrarPassword %}
					<span class="mostrarPassword">🙈</span>
				{% endblock %}
			{% endblock %}
		</div>
		
		<div id="pie" class="todo">
			{% block pie %}
			{% endblock %}
		</div>
		
		
		<script type="text/javascript">
			$(document).ready(function(){
				
				{% block JQuery %}
				{% endblock %}
				
				{% block JQuery_mostrarPassword %}
					$(".mostrarPassword")
						.mouseover(function(){
							var mostrarC	= $(this);
							
							 // Si detrás hay un tipo="password"
							if( mostrarC.prev().attr("tipo") == "password" ){
								mostrarC.text("🙊");
								mostrarC.prev().attr("type", "text");
							}
						})
						.mouseleave(function(){
							var mostrarC	= $(this);
							
							// Si detrás hay un tipo="password"
							if( mostrarC.prev().attr("tipo") == "password" ){
								mostrarC.text("🙈");
								mostrarC.prev().attr("type", "password");
							}
						})
					;
				{% endblock %}
			});
		</script>
	
		<style>
			{% block estilos %}
			{% endblock %}
		</style>
	</body>
</html>
