{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>Index</h1>
    <ul>
        <li><a href="{{ path('app_calculadora_index') }}">Calculadora</a></li>
    </ul>
{% endblock %}

{% block stylesheets %}
    li a{
    text-decoration:    none;
    color: #000099;
    }
{% endblock %}